# Node
/node_modules
/uploads/trys/
/uploads/OldImages/

/middlewares/imageRefiner.js

/controllers/upload.js
/routers/upload.js
/routers/videogames/uploadGame.js
/routers/users/uploadUser.js
/config.js

config/serviceAccountKey.json

.env